.green {
  color: teal;
}
.inputDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}
.input {
  background: transparent;
  outline-width: 0;
  color: black;
  border: none;
  padding: 8px;
  width: 100% !important;
  font-size: large;
}
.searchBar {
  align-items: center;
  color: rgb(24, 23, 23);
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px;
}
.list {
  /* padding-left: 5px; */
  /* height: 34px; */
  /* margin: 0; */
  font-size: 18px;
  /* border: 1px solid gray; */
  /* list-style-type: none; */
}
.star {
  /* height: 34px; */
  padding-left: 5px;
  list-style-type: "✔";
  color: green;
  font-size: 18px;
  /* lis */
}
.hintDiv {
  border: 1px solid gray;
  margin: 10px;
  padding: 10px;
  border-radius: 2px;
}
